body {
    background-color: #f1f1f1;
    height: 100%;
    position: relative;
}

.footer-text {
    font-size: 12px;
    color: #999999;
    margin-bottom: 50px;
}

.comic-content {
    min-height: 100%;
}

#ci ul, li {
    list-style: none;
    padding: 0;
    line-height: 25px;
}

.avatar {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.search-header {
    max-width: 700px;
    margin: 0 auto 0 auto;
    padding: 40px 0 60px 0;
}

.index-item {
    float: left;
    width: 285px;
    margin-bottom: 25px;
}

.index-cover {
    float: left;
    width: 150px;
    height: 200px;
}

.pages {
    clear: both;
    padding-top: 80px;
    text-align: center;
}

.index-info {
    float: left;
    width: 110px;
    margin-left: 10px;
    font-size: 12px;
    color: #333333;
}

.index-title {
    font-size: 15px;
    font-weight: bold;
    color: #2c3e50;
}

.text {
    font-size: 12px;
    color: #999999;
}

.shownn .unsubscribe {
    font-size: 12px;
    color: transparent;
    bottom: 32px;
    left: 20px;
    text-align: center;
    max-width: 100px;
    position: absolute;
    background: transparent;
    border-radius: 2px;
    display: block;
}

.shownn:hover .unsubscribe {
    font-size: 12px;
    color: #FFFFFF;
    bottom: 32px;
    left: 20px;
    text-align: center;
    max-width: 100px;
    position: absolute;
    background: rgba(0, 0, 0, .50);
    border-radius: 2px;
    display: block;
}

.blank {
    margin-left: 15px;
}

.comic-header {
    /*position: relative;*/
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 280px
}

.comic-cover {
    float: left;
    width: 180px;
    height: 240px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.comic-info {
    float: left;
    width: auto;
    max-width: 750px;
    padding-top: 5px;
    font-size: 12px;
}

.comic-title {
    font-size: 25px;
    font-weight: bold;
    color: #2c3e50;
}

.chapter-text {
    display: block;
    padding-top: 20px;
    width: 180px;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #2c3e50;
}

.image-item {
    width: 1080px;
    text-align: center;
}

.image {
    margin-bottom: 30px;
}

.image-text {
    font-size: 18px;
    color: #2c3e50;
}