{% extends "bootstrap/base.html" %}

{% block title %}Comic Web{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.jpg') }}" type="image/x-icon">
{#    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">#}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">ComicWeb</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">订阅列表</a></li>
                    <li class="disabled"><a href="{{ url_for('main.index') }}">更新章节</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_authenticated %}
                        <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span>登录</a>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block page_content %}{% endblock %}
        </div>
        <hr/>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ComicWeb 2018</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
