{% extends "bootstrap/base.html" %}

{% block title %}Comic Web{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% block navbar_define %}
        <nav class="navbar navbar-default" role="navigation">
    {% endblock %}
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main.index') }}">ComicWeb</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">订阅列表</a></li>
            <li class="disabled"><a href="{{ url_for('main.index') }}">更新章节</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}">登录</a>
                </li>
            {% else %}
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.gravatar(size=64) }}" class="avatar">
                            {{ current_user.username }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {#                                    <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>#}
                            {#                                    <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>#}
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category not in ['success', 'info', 'warning', 'danger'] %}
                            {% set category = 'warning' %}
                        {% endif %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block page_content %}{% endblock %}
        </div>
    </div>
    {% block footer %}
        <footer class="container navbar-fixed-bottom">
            <div class="row">
                <p class="footer-text">Copyright &copy; ComicWeb 2018</p>
            </div>
        </footer>
    {% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
