{% extends "base.html" %}

{% block title %}ComicWeb {{ chapter.title }}-{{ chapter.comic_title }}-{% endblock %}

{% block page_content %}
    <div class="col-lg-12">
        <div class="text-center">
            {% if previous %}
                <a href="{{ previous }}"
            {% else %}
                <a href="{{ url_for('main.chapter', id=chapter.comic_id, cid=chapter.id) }}"
            {% endif %}
                   class="text">返回漫画主页</a>
        </div>
        <h1 class="text-center">{{ chapter.title }}</h1>
        {% for image in images %}
            <img class="img-responsive center-block position" src="{{ url_for('static', filename='loading.gif') }}"
                 data-src="{{ url_for('static', filename='resources/' + image.path) }}" width="900" height="1300">
        {% endfor %}
        <div class="text-center">
            {% if previous %}
                <a href="{{ previous }}"
            {% else %}
                <a href="{{ url_for('main.chapter', id=chapter.comic_id, cid=chapter.id) }}"
            {% endif %}
                   class="text">返回漫画主页</a>
        </div>
        <br/>
    </div>
{% endblock %}
